<div class="container-fluid">
	<div class="row justify-content-center mt-1">
		<div class="col-auto">
			<div class="card border-2 border border-dark rounded-bottom" style="max-width: 35rem;">
				<div class="card-header text-bg-dark">
					<div class="d-flex justify-content-between">
						<div><strong>{{ pokemonDetails.name }}</strong></div> <div><a routerLink="/" class="btn badge text-bg-primary"><small>Voltar</small></a></div>
					</div>
				</div>
			  <img src="{{ pokemonImage }}" class="border-2 border border-dark rounded-bottom" alt="{{ pokemonDetails.name }}">
			  <div class="card-body">
			    <!-- <p class="card-text">{{ pokemonDetails.stats }}</p> -->
			    <div class="row mb-1 border-bottom">
			    	<div class="col-4">
			    		<strong>{{ pokemonDetails.name }}</strong>
			    	</div>
			    	<div class="col-4">
			    		<strong><small>Height:</small></strong> {{ pokemonDetails.height }}
			    	</div>
			    	<div class="col-4">
			    		<strong><small>Weight:</small></strong> {{ pokemonDetails.weight }}
			    	</div>
			    </div>
			    <div class="row mb-1 border-bottom">
			    	<div class="col-6" *ngFor="let stats of pokemonDetails.stats">
			    		<strong><small>{{ stats.stat.name }}:</small></strong> {{ stats.base_stat }}
			    	</div>
			    </div>
			    <div class="row gx-1 mb-3">
			    	<div class="col-auto" *ngFor="let types of pokemonDetails.types">
			    		<span class="badge text-bg-{{ types.type.name }}">{{ types.type.name }}</span>
			    	</div>
			    </div>
			    <div class="row gx-1 mb-3">
			    	<div class="col-auto" *ngFor="let moves of pokemonMoves; let i = index">
			    		<span class="badge text-bg-dark">{{ moves.move.name }}</span>
			    	</div>
			    </div>
			    <div class="d-flex justify-content-between">
				    <a routerLink="/details/{{ pokemonPrev }}" class="badge text-bg-primary fs-4"><i class="bi bi-caret-left-fill"></i></a>
				    <a routerLink="/details/{{ pokemonNext }}" class="badge text-bg-primary fs-4"><i class="bi bi-caret-right-fill"></i></a>
			    </div>
			  </div>
			</div>
		</div>
	</div>
</div>
