<div class="container-fluid mb-5">
	<div class="row justify-content-center mt-1">
		<div class="col-auto">
			<div class="card border-2 border border-dark rounded-bottom position-relative" style="max-width: 480px;">
        <div class="card-header text-bg-dark position-relative">
          <div class="d-flex align-items-center justify-content-between">
            <div>
              <div><strong>{{ pokemonDetails.name }}</strong></div>
              <div class="row gx-1 mb-3">
                <div class="col-auto" *ngFor="let types of pokemonDetails.types">
                  <span class="badge text-bg-{{ types.type.name }}">{{ types.type.name }}</span>
                </div>
              </div>
            </div>
            <div>
              #{{ pokemonDetails.order }}
            </div>
          </div>
        </div>
        <div class="position-relative">
          <div class="d-flex justify-content-between position-absolute w-100 h-100">
            <div *ngFor="let types of pokemonDetails.types; let isFirst = first; let isLast = last" [ngClass]="{'w-100 rounded': pokemonDetails.types.length === 1, 'w-50': pokemonDetails.types.length > 1, 'rounded-start': pokemonDetails.types.length > 1 && isFirst, 'rounded-end': pokemonDetails.types.length > 1 && isLast}" class="h-100 text-bg-{{ types.type.name }}"></div>
          </div>
          <div class="bg-gradient-default position-absolute w-100 h-100"></div>
          <img src="{{ pokemonImage }}" class="border-2 border border-dark rounded-bottom position-relative bg-gradient-white" alt="{{ pokemonDetails.name }}">
        </div>
			  <div class="card-body position-relative">
          <tabset>
            <tab heading="About">
              <!-- <p class="card-text">{{ pokemonDetails.stats }}</p> -->
              <div class="row">
                <div class="col-12 mb-3">
                  <ul>
                    <li>
                      <strong class="me-2"><small>Species:</small></strong> <span>{{ pokemonDetails.species.name }}</span>
                    </li>
                    <li>
                      <strong class="me-2"><small>Height:</small></strong> {{ pokemonDetails.height }}
                    </li>
                    <li>
                      <strong class="me-2"><small>Weight:</small></strong> {{ pokemonDetails.weight }}
                    </li>
                    <li>
                      <strong class="me-2"><small>Abilities:</small></strong> <span class="me-3" *ngFor="let abilities of pokemonDetails.abilities">{{ abilities.ability.name }}</span>
                    </li>
                  </ul>
                </div>
              </div>
            </tab>
            <tab heading="Base Stats">
              <ul class="mb-1 border-bottom">
                <li *ngFor="let stats of pokemonDetails.stats">
                  <div class="row">
                    <div class="col-3"><strong><small>{{ stats.stat.name === 'speed' ? 'Speed' : stats.stat.name === 'hp' ? 'HP' : stats.stat.name === 'defense' ? 'Defense' : stats.stat.name === 'attack' ? 'Attack' : stats.stat.name === 'special-attack' ? 'Sp. Atk' : stats.stat.name === 'special-defense' ? 'Sp. Def' : stats.stat.name }}:</small></strong></div>
                    <div class="col-2">{{ stats.base_stat }}</div>
                    <div class="col-7"></div>
                  </div>
                </li>
              </ul>
            </tab>
            <tab heading="Evolution">(em andamento)</tab>
            <tab heading="Moves">
              <div class="row gx-1 mb-3">
                <div class="col-auto" *ngFor="let moves of pokemonMoves; let i = index">
                  <span class="badge text-bg-dark">{{ moves.move.name }}</span>
                </div>
              </div>
            </tab>
          </tabset>
			    <div class="d-flex justify-content-between">
				    <a routerLink="/details/{{ pokemonPrev }}" class="badge text-bg-primary fs-4"><i class="bi bi-caret-left-fill"></i></a>
				    <a routerLink="/details/{{ pokemonNext }}" class="badge text-bg-primary fs-4"><i class="bi bi-caret-right-fill"></i></a>
			    </div>
			  </div>
			</div>
		</div>
	</div>
</div>
<div><a routerLink="/" class="btn badge text-bg-primary"><small>Voltar</small></a></div>
