@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~bootstrap-icons/font/bootstrap-icons.css";

body {
	height: 100%;
}
.backgound {
	background-image: linear-gradient(to bottom, #5036d4, #4029af, #301d8b, #211268, #120748);
}
.bg-gradient-default {
  /* background-image: radial-gradient(circle, #000000, #000000ef, #0000007e, #00000050, #00000000); */
  background-image: linear-gradient(to right, #78c74e00, #00000042, #000000, #0000003d, #78369600);
}
.card-color {
	background-image: radial-gradient(circle, #090909, #161126, #201340, #311058, #48006f);
}
	.card-color:hover {
		background-image: linear-gradient(to bottom, #000000, #2a111d, #4a193c, #662464, #783696);
	}
.text-bg-grass {
	color: #fff!important;
	background-color: #78c74e;
}
.text-bg-poison {
	color: #fff!important;
	background-color: #a040a1;
}
.text-bg-fire {
	color: #fff!important;
	background-color: #ef7f2e;
}
.text-bg-flying {
	color: #fff!important;
	background-color: #a890f0;
}
.text-bg-normal {
	color: #000!important;
	background-color: #a9a778;
}
.text-bg-water {
	color: #fff!important;
	background-color: #688ff0;
}
.text-bg-bug {
	color: #fff!important;
	background-color: #a8b821;
}
.text-bg-electric {
	color: #000!important;
	background-color: #f8d030;
}
.text-bg-ground {
	color: #fff!important;
	background-color: #dfbf68;
}
.text-bg-fairy {
	color: #000!important;
	background-color: #f6c9e3;
}
.text-bg-fighting {
	color: #fff!important;
	background-color: #bf2f27;
}
.text-bg-psychic {
	color: #fff!important;
	background-color: #f85787;
}
.text-bg-rock {
	color: #fff!important;
	background-color: #b6a037;
}
.text-bg-ghost {
	color: #fff!important;
	background-color: #705798;
}
.text-bg-ice {
	color: #fff!important;
	background-color: #97d7d7;
}
.text-bg-dragon {
	color: #fff!important;
	background-color: #7038f9;
}
.text-bg-steel {
	color: #fff!important;
	background-color: #b7b7cf;
}
.mt-6 {
	margin-top: 3.5rem!important;
}
.mt-7 {
	margin-top: 4rem!important;
}
.text-decoration-none {
	text-decoration: none;
}